<html>
  <head>
    <title>Web Test Task Easy</title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <center>
    <h2>  Отправьте количестово участвующих в эксперименте экстрасенсов, от двух до десяти. <br> 
                 И загадайте двухзначное число.
                 <form action = "/" method = "post" >
                 <p><input type = "number" min = 2 max = 10 name = num_psy></p>
                 <p><input type = submit value = Отправить></p>
                 </form>
                
         </h2><br>
        </p></a></h2></center>
  </body>
</html>
